<h2>Update the drone</h2>

<form action="/drones/{{id}}/edit" method="POST">
  <div>
    <label for="name">Drone:</label>
    <input type="text" name="name" id="name" value={{name}} />
  </div>
  <div>
    <label for="propellers">Propellers:</label>
    <input type="text" name="propellers" id="propellers" value={{propellers}} />
  </div>
  <div>
    <label for="maxSpeed">Maximun Speed:</label>
    <input type="text" name="maxSpeed" id="maxSpeed" value={{maxSpeed}} />
  </div>
  <input type="submit" />
</form>